Package: com.supermamon.cylindernitro
Name: Cylinder Nitro
Version: 1.0
Architecture: iphoneos-arm
Description: More effects for the Cylinder tweak.
Depiction: http://repo.supermamon.com/packages/cylindernitro.html
Homepage: http://repo.supermamon.com
Maintainer: supermamon <at.supermamon@gmail.com>
Author: supermamon <at.supermamon@gmail.com>
Section: Tweaks
